In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\Ali\Desktop\Data Analysis Projects\turing\cardio_alco.csv")

In [3]:
df.head(10)

  id;alco
0    44;0
1    45;0
2    46;0
3    47;0
4    49;0
5    51;0
6    52;0
7    53;0
8    54;0
9    56;0

In [4]:
df.shape

(56903, 1)

In [5]:
df.columns

Index(['id;alco'], dtype='object')

In [6]:
df = pd.read_csv(r"C:\Users\Ali\Desktop\Data Analysis Projects\turing\cardio_alco.csv", delimiter=';', header=0)

In [7]:
df.head(10)

   id  alco
0  44     0
1  45     0
2  46     0
3  47     0
4  49     0
5  51     0
6  52     0
7  53     0
8  54     0
9  56     0